.wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.figure {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 580px;
}

.circle {
  background-color: #1f4c77;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
