.answers {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.answer {
  --size: 100px;

  background-color: #a2d2ff;
  border: none;
  border-radius: 50%;
  color: #1f4c77;
  font-size: 30px;
  font-weight: bold;
  height: var(--size);
  width: var(--size);
}
